.header {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("@img/header/Rectangle 64.png");
		
    &__container {
          position: relative;
    }

        &__body {
          display: flex;
          padding: 40px 15px 130px;
          max-width: 1270px;
          margin: 0 auto;
          position: relative;
          z-index: 1;
          align-items: center;
        }

		&__menu {
            
		}

		&__logo {
		}
}
.menu {
    flex: 1 1 auto;
		
        &__icons {
		}

		&__body {
            
        }

		&__list {
        display: flex;
        justify-content: center;
        margin: 0 30px;
		}

    @media(max-width: 912px) {
      &__list {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: darkgrey;
          padding: 40px 0 0 0;
          overflow: auto;
          transform: translate3d(-100%, 0px, 0px);
          transition: all 0.5s ease;
          margin: 0;
          z-index: 5;
          opacity: 0.9;
        }
        
        &__list.active {
          transform: translate3d(0px, 0px, 0px);
          transition: all 0.5s ease;
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 5;
        }
        
      }
    

        &__list li {
            margin: 0 15px;
        }

        &__list li:first-child {
            margin: 0 15px 0 0;
        }

        &__list li:last-child {
            margin: 0 0 0 15px;
        }

        @media(max-width: 912px) {
          &__list li {
            margin: 0 0 50px 0;
          }

          &__list li:first-child {
            margin: 0 0 50px 0;
          }

          &__list li:last-child {
            margin: 0;
          }
        }

		&__item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: right;
            color: #FFFFFF;
		}

    &__item:hover {
      text-decoration: underline;
      font-weight: 700;
    }

    @media(max-width: 912px) {
      &__item {
        font-size: 24px;
        color: black;
        font-weight: 600;
      }
    }

		&__btn {
        width: 160px;
        height: 50px;
		}

    @media(max-width: 540px) {
      &__btn {
        width: 130px
      }
    }
}

  .header__title {
    max-width: 782px;
    margin: 0 auto;

    .title {
    &__block {
      max-width: 747px;
      margin: 0 17px 35px 17px;
    }

    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 88px;
        text-align: center;
        color: #FFFFFF;
		}

    @media(max-width: 912px) {
      &__name {
        font-size: 48px;
        line-height: 64px;
      }
    }

    @media(max-width: 540px) {
      &__name {
        font-size: 36px;
        line-height: 36px;
      }
    }

		&__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.055em;
            color: #FFFFFF;
            padding: 0 0 160px 0;
		}
  }
}

.header::before {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
